@import url(./variables.css);

body {
    font-family: 'Kanit', sans-serif;
    color: var(--Primary));
}

#navBar {
    display: flex;
    flex-direction: row;
    margin: 0px 5%;
    background-color: rgba(255, 255, 255, 0.9);
}

#navBar img {
    width: 25%;
  }

#navigation {
    display: flex;
    justify-content: flex-end;
    width: 75%;
    align-items: center;
  }


  #navigation a {
    margin: 15px;
  color: var(--Primary);
  text-decoration: none;
  padding: 10px;
  }

  #navigation a:hover {
    background-color: var(--Primary-light);
padding:10px;
  }

  .logo {
    display: flex;
    justify-content: flex-start;
    align-items: left;
    width: 45%;
  }

  .logo img {
    margin: 15px;

  }

#heroGrid {
 margin: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 550px;
  height: auto;
  background-color:#B6F5D3;
  grid-template-areas:
  "headline"
  "work";
}

#heroGrid h1{
  font-size: 56px;
  font-weight: 700;
}

#heroGrid p {
  font-size: 36px;
  font-weight: 400;
}

#headline {
  margin: 0px 5%;
  top: 100px;
  padding: 25px;
  max-width: 920px;
 }

 #button_resume {
  font-weight: 700;
  background-color: #ffffff; 
  border: none;
  color: var(--Primary));
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
}

#work {
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  display: flex;
  position: relative;
  flex-direction: column;
}

#work h4{
font-size: 16px;
font-weight: 700;
letter-spacing: 0.3em;
text-align: center;
color: var(--Primary));
text-transform: uppercase;
}

#body_home {
  margin: 0px 5%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#body_home h2{
font-size: 26px;
font-weight: 700;
letter-spacing: 0.3em;
text-align: center;
color: var(--Primary));
text-transform: uppercase;
margin-top: 90px;
justify-content: center;
}


#container1 {
  width: 100vw;
  margin: 0px 5%;
  /* max-width: 1000px; */
  display: flex;
  align-items: center;
  margin-top: 30px;
  justify-content: center;
  /*min-height: 500px;
  height: 70vh;
  grid-template-rows: 75% 25%;
  grid-template-columns: 75% 25%;*/
}

.content {
  /* display: flex; */
  justify-content: center;
  flex-direction: column;
}

.left {
  width: 50%;
  height: 600px;
}

.right {
width: 50%;
    /* min-height: 400px; */
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 38px;
    margin-left: -100px;
    flex-direction: row;
}

.right h3{
  font-size: 22px;
  font-weight: 700;
  text-align: left;
  color: var(--Primary));
  text-transform: uppercase;
  }

.right p {
  margin: 20px 0;
}
  
  #button_green {
    margin-top: 5%;
    background-color:#B6F5D3;
    border: none;
    color: var(--Primary));
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
  }

  @media only screen and (max-width: 768px) {
    #container1 {
     flex-direction: column;
    }
    .left {
     width: 100%;
    }
    .right {
     width: 80%;
     margin: 0;
     margin-top: -100px;
    }
   }

.left2 {
   width: 400px;
  height: 200px;
    background-color: #ffffff;
    padding: 38px;
    margin-right: -50px;
    z-index: 10;
    /* flex-direction: row; */
}
 

.right2 {
width: 50%;
margin-left: -80px;
    /* min-height: 400px; */
    display: flex;
    /* align-items: center;
    justify-content: flex-start;
    padding: 38px;
    
    flex-direction: row; */
}



footer {
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
}