@import url(./variables.css);
body {
    font-family: var(--bodyFont);
    color: var(--Primary);
    margin: 0;
}

header {
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    z-index: 11;
}

.about {
  display: flex;
  width: 100%;
  flex-direction: row;
  background-color: rgba(255, 255, 255, 0.9);
  position: fixed;
}

nav {
    display: flex;
    justify-content: flex-end;
    width: 75%;
    align-items: center;
  }

nav a.active{
  background-color: var(--Primary-light);
}

nav a {
    margin: 15px;
  color: var(--Primary);
  text-decoration: none;
  padding: 10px;
  }

nav a:hover {
    background-color: var(--Primary-light);
padding:10px;
  }


  .logo img {
    margin: 15px;
    height: 71px;
  }

.heroGrid {
 padding: 100px 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 550px;
  height: auto;
  background-color:var(--Primary-light);
  grid-template-areas:
  "headline"
  "work";
}

.heroGrid h1{
  font-size: 56px;
  font-weight: 700;
}

.heroGrid p {
  font-size: 36px;
  font-weight: 400;
}

.headline {
  margin: 0px 5%;
  top: 100px;
  padding: 25px;
  max-width: 920px;
 }

 .button_resume {
  font-weight: 700;
  background-color: #ffffff; 
  border: none;
  color: var(--Primary);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
}

#work {
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  display: flex;
  position: relative;
  flex-direction: column;
}

#work h4{
font-size: 16px;
font-weight: 700;
letter-spacing: 0.3em;
text-align: center;
color: var(--Primary));
text-transform: uppercase;
}

#body_home {
  margin: 0px 5%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#body_home h2{
font-size: 26px;
font-weight: 700;
letter-spacing: 0.3em;
text-align: center;
color: var(--Primary));
text-transform: uppercase;
margin-top: 90px;
justify-content: center;
}


.container {
  width: 100vw;
  margin: 0px 5%;
  /* max-width: 1000px; */
  display: flex;
  align-items: center;
  margin-top: 50px;
  justify-content: left;
  /*min-height: 500px;
  height: 70vh;
  grid-template-rows: 75% 25%;
  grid-template-columns: 75% 25%;*/
}

.content {
  /* display: flex; */
  justify-content: center;
  flex-direction: column;
}

.left {
  width: 50%;
  margin-left: 100px;
}

.right {
width: 540px;
    /* min-height: 400px; */
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 38px;
    margin-left: -270px;
    flex-direction: row;
}

.right h3{
  font-size: 22px;
  font-weight: 700;
  text-align: left;
  color: var(--Primary));
  text-transform: uppercase;
  }

.right p {
  margin: 20px 0;
}
  
  .button_green {
    margin-top: 5%;
    background-color:#B6F5D3;
    border: none;
    color: var(--Primary));
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
  }

  @media only screen and (max-width: 768px) {
    #container {
     flex-direction: column;
    }
    .left {
     width: 100%;
    }
    .right {
     width: 80%;
     margin: 0;
     margin-top: -100px;
    }
   }

.left2 {
   width: 540px;
  height: 200px;
    background-color: #ffffff;
    padding: 38px;
    margin-right: -50px;
    z-index: 10;
    margin-left: 100px;
    /* flex-direction: row; */
}

.left2 h3{
  text-transform: uppercase;
}
 

.right2 {
  width: 30%;
  /* margin-left: -80px; */
  /* min-height: 400px; */
  display: flex;
}

.bigfooter{
  position: relative;
  margin-right: 0;
  margin-left: 0;
}

footer {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.flex-column {
  flex-direction: column!important;
}

ul {
  margin-top: 0;
  list-style-type: none;
  text-align: center;
}

li {
  display: list-item;
  /* display: inline-block; */
}
.foot-item {
text-decoration: none;
}

.foot-link {
  text-decoration: none;
  color: var(--Primary);
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

footer img{
  margin-right: 10px;
}

.bigfooter h2{
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.3em;
  text-align: center;
  text-transform: uppercase;
  margin-top: 90px;
}

.headShot{
  width: 530px;
  padding: 34px 40px;
}

.avatar{
  width: 100%;
}
.heroContent{
  margin: 0px 5%;
  top: 100px;
  padding: 25px;
  max-width: 613px;
}

.heroContent h1{
font-size: 56px;
}
.large {
font-size: 24px;
}

.highlight {
background-color: var(--Primary-light);
}



 .about_intro {
  padding: 100px 0;
   display: flex;
   flex-direction: row;
   /* width: 100vw; */
   min-height: 550px;
   /* height: auto; */
 }

 .about_content {
  margin: 0px 5%;
  top: 100px;
  padding: 25px;
  max-width: 613px;
 }

 .about_content h1{
  font-size: 56px;
  }
  .large {
  font-size: 24px;
  }

  .button2 {
    font-weight: 700;
    background-color: var(--Primary-light);
    border: none;
    color: var(--Primary);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
  }
  .button3 {
    font-weight: 700;
    background-color: #ffffff;
    border: 2px solid var(--Primary-light);
    color: var(--Primary);
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
  }

  .buttons {
display: flex;
flex-direction: row;
  }

.buttons a {
  margin: 15px;
  color: var(--Primary);
  text-decoration: none;
  padding: 10px;
}

.small {
  text-transform: uppercase;
  letter-spacing: 30%;
  font-weight: 400;
  font-size: 16px;
}

