@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

:root {
    --Primary: #333333;
    --Primary-light: #B6F5D3;
/* font */
    --bodyFont:'Kanit', sans-serif;
    /* --h1-fontSize: 3rem;
    --h2-fontSize: 3rem; */
}

